*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
nav {
  width: 100%;
  height: 70px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ADCF9F;
}
nav > ul {
  display: flex;
  width: 40%;
  list-style: none;
  color: white;
  justify-content: space-around;
  font-size: 1.4rem;
  font-weight: 200px;
  text-shadow: .4px .4px black;
  
}
.nav-link {
  text-decoration: none;
}
.nav-link:hover {
  color: #fff;
  transition: 200ms;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ft-right {
  width: 40%;


}
.ft-left {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}
.ft-items {
  display: flex;
  justify-content: space-between;
  width: 20%;
  font-size: 20px;
}